@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables
@import ~bootstrap/scss/mixins/breakpoints
@import variables

.faq

  .question
    font-family: $font-general
    font-size: 1rem
    text-align: left
    display: inline-block
    cursor: pointer
    margin-top: 0.3rem
    margin-bottom: 0.3rem

  .answer
    padding-left: 3.3rem

  .faq-block
    border-bottom: 1px $color-text solid
    margin-bottom: 0.1rem
    margin-top: 0.2rem

  a
    color: $color-logo

  .fa-stack
    margin-top: -4px

  code
    background-color: $color-code-background
    color: $color-text
    padding: 0.7rem
    display: block
    width: fit-content

  b
    font-family: $font-general-bold

  img
    width: 100%
    max-width: 700px
    min-width: 50px
    height: auto