@import ~bootstrap/scss/functions
@import ~bootstrap/scss/variables
@import ~bootstrap/scss/mixins/breakpoints
@import variables

.start
  ol
    list-style: none

  .with-gui
    display: block

  .without-gui
    display: none

  .square-black
    font-family: $font-general
    width: 3rem
    height: 3rem
    font-size: 2rem
    background: $color-black-bg
    color: white
    text-align: center
    display: inline-block
    margin-right: 1rem

  .title-text
    font-family: $font-general-bold
    color: white
    font-size: 1.5rem
    margin-left: 0
    color: $color-text

  a
    color: $color-logo !important

  .description-text
    font-family: $font-general
    margin-left: 3rem

  li
    margin-top: 3.5rem
    margin-bottom: 3.5rem

  code
    background: $color-code-background
    color: $color-text
    padding: 0.7rem
    display: block
    margin-top: 1rem
    margin-bottom: 1rem
    width: fit-content

  b
    font-family: $font-general-bold
