@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$font-general: 'Raleway';
$font-general-medium: 'RalewayMedium';
$font-general-bold: 'RalewayBold';
$font-title-bold: 'FuturaStdBold';
$font-title-medium: 'FuturaStdMediumCondensed';
$font-title: 'FuturaStdLight';
$font-brand: 'Bosun', sans-serif;

$color-background: #FAFAFA;
$color-logo: #0092EE;
$color-text: #333333;
$color-title: #012C4F;
$color-whitepaper: #01579b;
$color-dark-hover: #002F4F;
$color-light-hover: #27a2db;
$color-roadmap-line: #808080;
$color-roadmap-text: $color-text;
$color-roadmap-active: $color-whitepaper;
$color-chat: $color-roadmap-active;
$color-chat-hover: #012C4F;
$color-black-bg: #141417;
$color-code-background: #e6e6e6;


$grid-breakpoints: (
  xs:   0,
  xxs:  400px,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1850px,
  xxxl: 2500px
);

$orientations: (
  landscape: landscape,
  portrait: portrait
);

@mixin media-orientation($orientations) {
  @media screen and (orientation: $orientations) {
	@content
  }
};