{% extends "base.twig" %}

{% block content %}
    <div class="bg-darken-gradient basic-header">
        <div class="bg-dotted-map mx-md-4 h-100 d-flex align-items-end">
            <h1 class="text-white d-block ml-4 mb-1">
                {% block section %}{% endblock %}
            </h1>
        </div>
    </div>
    {% block content_injected %}{% endblock %}
{% endblock %}