{% extends 'base_basic_header.twig' %}

{% block title %}
    FAQ | Webchain
{% endblock %}

{% block content_injected %}

    <div id="app"> </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('build/faq.js') }}"></script>

{% endblock %}