{% extends 'base_basic_header.twig' %}

{% block title %}
    Join Newsletter | Webchain
{% endblock %}
{% block section %}
    Newsletter
{% endblock %}


{% block content %}

    <div id="newsletter-admin" class="container-fluid text-center">
        <div class="m-3">
            <span>Back to <a class="normal-link" href="{{ path('index') }}">Home Page</a></span>
        </div>
    </div>

{% endblock %}