{% extends 'base_basic_header.twig' %}

{% block title %}
    Admin Newsletter | Webchain
{% endblock %}
{% block section %}
    Admin Newsletter
{% endblock %}

{% block content_injected %}
    <div id="newsletter"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/newsletter.js') }}"></script>
{% endblock %}