<div class="news post">
    <article class="container-fluid px-md-5 mx-auto mt-5">
        <div>
            <h1>
                {{ post.title }}
            </h1>

        </div>

        <div class="row mb-3 mt-4">
            <div class="col-12 image-header">
                {% media post.image, 'wide' %}
            </div>
            <div class="col-12 mt-3">
                {{ post.content|raw }}
            </div>
        </div>

        <h3>
            {{ post.publicationDateStart | format_date('y/MM/dd h:mm aa') | replace({'AM': 'a.m.', 'PM': 'p.m.'}) }}
        </h3>
        <hr>
        <div class="mb-3">
            <a href="{{ app.request.headers.get('referer') }}">&lt; BACK</a>
        </div>
    </article>
</div>